// COLORS
$green = #2ECC71
$red = #E74C3C
$yellow = #f1c40f
$black = #222
$blue = #2980b9

$action-color = #F5A623
$on-color = #F5A623
$cancel-color = $red
$add-color = $green

// DIMENSIONS
$max-page-width = 115rem
$min-page-width = 96rem
